/* This stuff is for the map in display */
#mapleftside{
	float: left;
	width: 600px;
	background-color: #ccc194;
}

#map{
	height: 580px;
    width: 580px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
}


#maprightside{
	float: right;
	width: 400px;
	background-color: #008e09;
}

#info{
	width: 400px;
	height: 500px;
	background-color: #dcf5e9;
}

#submissionButton{
	padding-top: 40px;
	font-size: 24px;
	background-color: #ee6a50;
}