/* This stuff is for the map in display */
#mapleftside{
	float: center;
	width: 600px;
	/*background-color: #a6bef0; */
}

#map{
	height: 580px;
    width: 580px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 200px;
	margin-right: 10px;
}


#maprightside{
	float: right;
	width: 400px;
	/*background-color: #a6bef0; */
}

#info{
	width: 400px;
	height: 500px;
	/*background-color: #a6bef0; */
}

#submissionButton{

	padding-right: 35px;
	font-size: 24px;
	/*background-color: #a6bef0; */
}

#submissionButton a:link{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 25px;
}

#submissionButton a:visited{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 25px;
}

#submissionButton a:active{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 25px;
}

#submissionButton a:hover{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color:#edd79b;
	font-size: 25px;
}