@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto", Arial,Helvetica,sans-serif;
	/*background-image: url(../images/bg.jpg); */
	background-color: #000010;
	
}

/* Start of the Header */

#wrapper {
		width: 900px;
		height: 225px;
		margin: auto;
		/*background-color: #90aeec; */
		background-image: url(../images/earth1.png);
		background-repeat:no-repeat;
		background-size:1000px 306px; /* width height */
		padding: 0 40px;
}

#logo{
	float:left;
	font-family: Garamond;
}

#logo p{
	float:left;
	font-family: Garamond;
}


#logo h1{
	color: #ffffff;
	float:right;
	padding-left: 10px;
	padding-top: 35px;
	font-size: 30px;
}

#topnav{
	clear:both;	
	margin-left: 15px;
}

#nav a{
	color: #ffffff;
}
#topnav ul{
	padding: 15px 0;
	margin: 0;

}

#topnav ul li{
	display: inline;
	list-style-type: none;
	margin: 0 40px 0 0;	
}

#topnav a:link{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: Garamond;
}

#topnav a:visited{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 18px;
}

#topnav a:active{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 18px;
}

#topnav a:hover{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color:#edd79b;
	font-size: 18px;
}

/* Start of the Body Content */
#content-wrapper{
	margin: auto;
	width: 900px;
    /*white-space: nowrap; */
    overflow: hidden;
	padding-right: 80px;
}
#content{
	float: left;
	width: 1000px;
	/*background-color: #a6bef0; */
	background-color: #ffffff; 
}

#content h1{
	color: #000000;
}

#leftside{
	float: left;
	width: 500px;
	/*background-color: #a6bef0;*/
}

#leftside img{
	padding-top: 25px;
	margin-left: 50px;
}

#leftside p{
	margin-left: 50px;
}

#rightside{
	float: right;
	width: 500px;
	/*background-color: #a6bef0; */
}

#rightside form{
	border-style: solid;
	width: 250px;
	/*background-color: #a6bef0; */
}

#rightside form{
	padding: 50px;
}

#rightside img{
	padding-top: 25px;
}
