@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto", Arial,Helvetica,sans-serif;
	background-color: #FFFFFF;
}

/* Start of the Header */

#wrapper {
		width: 900px;
		margin: auto;
		background-color: #90aeec;
		padding: 0 40px;
}

#logo{
	float:left;
	font-family: Garamond;
}

#logo p{
	float:left;
	font-family: Garamond;
}


#logo h1{
	color: #ffffff;
	float:right;
	padding-left: 10px;
	padding-top: 35px;
	font-size: 30px;
}

#topnav{
	clear:both;	
}

#topnav ul{
	padding: 15px 0;
	margin: 0;
	border-top: 1px #000 dotted;
}

#topnav ul li{
	display: inline;
	list-style-type: none;
	margin: 0 40px 0 0;	
}

#topnav a:link{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

#topnav a:visited{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

#topnav a:active{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

#topnav a:hover{
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color:#bc1142;
	font-size: 14px;
}

/* Start of the Body Content */
#content-wrapper{
	margin: auto;
	width: 900px;
    white-space: nowrap;
    overflow: hidden;
	padding-right: 80px;
}
#content{
	float: left;
	width: 1000px;
	background-color: #a6bef0;
}

#content h1{
	color: #ffffff;
}

#leftside{
	float: left;
	width: 500px;
	background-color: #a6bef0;


}

#leftside img{
	padding-top: 25px;
	margin-left: 50px;
}

#leftside p{
	margin-left: 50px;
}

#rightside{
	float: right;
	width: 500px;
	background-color: #a6bef0;
	
}

#rightside img{
	padding-top: 25px;
}
