<!DOCTYPE html>
<html>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <head>
    <title>Geolocation</title>

    <script>
    
    const $description = $('#description');
    const $submitButton = $('#submit');
    
    window.addEventListener('load', function() {


    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function success(pos) {
      var crd = pos.coords;

      console.log('Your current position is:');
      alert(`Latitude : ${crd.latitude}`);
      console.log(`Longitude: ${crd.longitude}`);
      console.log(`More or less ${crd.accuracy} meters.`);
    };

    function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
    };

    navigator.geolocation.getCurrentPosition(success, error, options);
     })

     function writeText (form) {
       alert(crd.latitude);
    form.latitude.value = crd.latitude;}
    
    
}

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB5-r7nA96ydTyiER6U0XzvOdRjX_Ht7c&callback=initMap">
    </script>

      <form id="loginformA" action="submission" method="post">
	<input id="description" type="text" name="description"/>
  <input id="latitude" type="text" name="latitude">
  <input id="longitude" type="hidden" name="longitude">
		<input type="file" name="userFile" />
          <button id="submit">Submit</button>
	</form>


  </body>
  </html>
